@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

body {
    font-family: 'Roboto Slab', serif;
}
h2,
h1 {
    text-align: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

#con {
    margin-top: 30vh;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 150px;
    height: 80px;
    text-align: center;
    line-height: 80px;

    background-color: darkcyan;
    text-decoration: none;
    color: white;
}
