@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.fa-facebook {
    background: #3b5998;
    color: white;
}
.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

#follow {
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-size: 2vmax;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
