@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

#about,
#popular,
.post {
    border: 2px solid dimgray;
    border-radius: 15px;
    font-family: 'Roboto Slab', serif;
    color: #14213d;
    background-color: #f0efeb;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.295);
}

#foo {
    background-color: #023e8a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    color: white;
}

#container {
    background-color: #98c1d9;
}

#about,
#popular {
    padding: 15px;
}
.nav {
    background-color: #023e8a;
}
.links {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;
    font-family: 'Roboto Slab', serif;
}
#current {
    background-color: #4cc9f0;
}

#container2 {
    background-color: white;
    border-radius: 15px;
}

@media (max-width: 980px) {
    p {
        font-size: 0.8em;
    }
    .links {
        width: 10vw;
    }
}
@media (max-width: 580px) {
    p {
        font-size: 0.6em;
    }
    .links {
        font-size: 00.6em;
    }
}
#title {
    display: flex;
    align-items: center;
    justify-self: center;
}

#ti {
    width: 55vw;
}
#black {
    color: black;
}
#white {
    color: white;
}
.container3 {
    height: 42vh;
}
h3 {
    margin-top: -5px;
}

@media (max-width: 1200px) {
    #ti {
        width: 70vw;
    }
    .container3 {
        height: 11vh;
    }
    #pop {
        position: absolute;
    }
    .container3 > ul > li {
        margin-left: 10vw;
    }
}

.container3 > ul {
    display: flex;
    flex-flow: column wrap;
    height: inherit;
    width: inherit;
    margin: 0;
}

.container3 > ul > li {
    flex: 0 0 auto;
}
@media (max-width: 1200px) {
    .container3 > ul > li {
        font-size: 1.3vmax;
    }
}
#media .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
